:root {
    --name-section-width: 256px;
}

body {
    background-color: #a0a0a0;
}


.main-box {
    padding-top: 20px;
    display: flex;
    /* flex-direction: row; */
    margin: 20px;
    align-items: flex-end;
}

nav {
    margin: 20px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.main-main-part {
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: #06671b;
}

a:hover {
    text-decoration: underline;
    color: #098523;
}

.p-margin-reset {
    margin: 0;
}

#header-info {
    padding-left: 50px;
}

.h3-prof-color {
    color: #797979;
}

hr {
    width: calc(100% - 40px);
}


.cv-title {
    padding-top: 10px;
    text-align: center;
}

.main-container {
    max-width: 900px;
    min-width: 500px;
    margin: 10px auto 10px;
    background-color: #ffffff;
}

.section-name {
    max-width: 256px;
    min-width: 256px;
    text-align: center;
}

footer {
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  background-color: #a0c0a0
}

footer a {
  color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-git-link-text {
  margin-left: 10px;
}

.footer-git-link {
  display: flex;
  align-items: center;
}